:root {
  --darkBgColor: #232323;
  --lightBgColor: #dddddd;
}

.App {
  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 900px 500px;
  /* transition-property: all;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s; */
  /* font-family: "Laila", sans-serif; */
}
